<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-demo:war exploded">
    <output-path>$PROJECT_DIR$/mybatis-demo/target/demo-mybatis-1.0</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:4.5" />
          <element id="library" level="project" name="Maven: joda-time:joda-time:2.4" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.1.1" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.18" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:19.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/mybatis-demo/target/demo-mybatis-1.0/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis-demo/web/Web" />
    </root>
  </artifact>
</component>